#!/bin/zsh
mkdir -p "$(direnv_layout_dir)"
extraArgs=("")
if [ -d "$HOME/src/templates/solana" ]; then extraArgs+=(--override-input "solana" "$HOME/src/templates/solana/"); fi
if [[ -d "$HOME/src/scripts/nix-utils" ]]; then extraArgs+=(--override-input "nix-utils" "$HOME/src/scripts/nix-utils/"); fi

use flake . --impure --show-trace --refresh ${extraArgs[@]}
