#!/bin/bash
mkdir -p "$(direnv_layout_dir)"
extraArgs=""
if [ -e "$HOME/src/templates/solana/" ]; then
	extraArgs+=" --override-input solana $HOME/src/templates/solana/"
fi
use flake . --impure --show-trace --refresh $extraArgs
