---
import { WalletProvider } from "../components/Connect.tsx";
import { css } from '../../styled-system/css';
import Navbar from '../components/Navbar.astro';
import '../styles/globals.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <!-- <link rel="stylesheet" href="/styles/index.css" /> -->
  </head>
  <body>
    <WalletProvider client:load>
      <div class={css({ display: 'flex' })}>
        <Navbar />
        <main class={css({ flexGrow: '1', p: '4' })}>
          <slot />
        </main>
      </div>
    </WalletProvider>
  </body>
</html>
