---
import { css } from '../../styled-system/css';
import { WalletConnectUI } from './Connect.tsx';
---

<header
  class={css({
    display: 'flex',
    justifyContent: 'flex-end',
    alignItems: 'center',
    padding: '1rem',
    backgroundColor: 'gray.100',
    borderBottom: '1px solid',
    borderColor: 'gray.200',
    _dark: { backgroundColor: 'gray.900', borderColor: 'gray.700' },
  })}
>
  <div class={css({ display: 'flex', gap: '1rem', alignItems: 'center' })}>
    <WalletConnectUI client:load />
  </div>
</header>
